html,body,div#container {
        background: #ffffff;
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 100%;
      }
      div#button {
        position: absolute;
        top: 50px;
        left: 10px;
        margin: 0px;
        padding: 0px
      }
      div#map-canvas {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px
      }